* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.body {
  display: flex;
}

.logo {
  height: 115px;
}

.header__logo-container {
  background-color: inherit;
  margin-right: 20px;
}

.main-section {
  display: grid;
  grid-template-areas:
    "navbar main main main main main";
  grid-template-columns: repeat(6, 1fr);
  width: 100vw;
}

.main-section__content {
  grid-area: main;
  position: relative;
}

.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: navbar;
  justify-content: flex-start;
}

.nav-bar_p {
  cursor: pointer;
  font-size: 140%;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.nav-bar_p:hover {
  color: #F452A1;
}

.active {
  background-color: #6B818C;
  color: white;
}

.image-container {
  max-height: 275px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.main-section__content-img {
  height: 100%;
  object-fit: cover;
  object-position: 0px -300px;
  width: 100%;
}

.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, 16rem);
  margin: 0px 18px 0px 18px;
}

.card-img {
  display: block;
  height: 94px;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

/* .submit {
  display: flex;
  justify-content: center;
} */

.box {
  border-radius: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  height: 210px;
  overflow: hidden;
  position: relative;
}

.card-content > p,
h4,
.total-expenses {
  text-align: center;
}

.responseMessage {
  color: #06BCC1;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  max-width: 80%;
}

.total-expenses {
  font-size: 150%;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

.total-expenses-container {
  border: 3px solid #06BCC1;
  border-radius: 25px;
  box-shadow: 0px 3px 8px #06BCC1;
  margin-top: 25px;
  padding: 15px;
}

.box:hover {
  box-shadow: inset 0 0 10px #777777;
}

.form-container {
  background: white;
  border-radius: 25px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  height: 310px;
  left: 25px;
  padding: 10px 25px 25px 25px;
  position: absolute;
  top: 25px;
  z-index: 2;
}

label {
  display: block;
  font-size: 125%;
  margin: 10px;
}

input,
select {
  cursor: pointer;
}

.float {
  background-color: #F452A1;
  border-radius: 25px;
  color: white;
  padding: 7px;
  position: absolute;
  right: 5%;
  top: 10%;
}

.card-content {
  display: flex;
  flex-direction: column;
  font-size: 115%;
  line-height: 150%;
  overflow: scroll;
  padding: 10px;
}

.login-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.screen {
  background-color: white;
  height: 100%;
  opacity: .7;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  width: fit-content;
}

.login-form-container {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: inset 0 0 10px #F452A1;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  min-width: fit-content;
  padding: 40px;
  z-index: 5;
}

.login-fox {
  display: block;
  max-height: 75px;
}

form > p {
  margin: 15px;
}

h1, h2 {
  padding: 20px;
}

h2, h3 {
  text-align: center;
}

.submit {
  align-items: center;
  background-color: #6B818C;
  border: 3px solid gray;
  margin: 0px 50% 0px 50%;
  padding: 8px;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  height: 2em;
  display: flex;
  min-width: fit-content;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.transparent {
  visibility: hidden;
}

@media (max-width: 1160px) {
  .main-section__content-img {
    height: 100%;
    object-fit: cover;
    object-position: 0px 100px;
    width: 100%;
    /* try hard-coding proportions */
  }
}
